h1{
	color:purple;
	text-align: center;
	font-size: 28px;
}

#cf{
	position: relative;
	height: 128px;
	width: 128px;
	margin:0 auto;
}

#cf img {
	position:absolute;
	left:0;
	-webkit-transition: opacity ls ease-in-out;
	-moz-transition: opacity ls ease-in-out;
	-o-transition: opacity ls ease-in-out;
	transition: opacity ls ease-in-out;
}

#cf img.top:hover{
	opacity:0;
}

#dwib {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: red;
	-webkit-animation-name: example; /* Chrome */
	-webkit-animation-duration: 4s;
	animation-name: example;
	animation-duration: 4s;
}

@keyframes example {
	from {background-color: red;}
	to {background-color: blue;}
}

@-webkit-keyframes example {
	from {background-color: red;}
	to {background-color: blue;}
}

#diSlide {
	position: relative;
	-webkit-animation-name: diagonal_slide; /* Chrome */
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: 2;
	animation-name: diagonal_slide;
	animation-duration: 5s;
	animation-iteration-count: 2;
}

@keyframes diagonal_slide {
	from {
		left: 0;
		top: 0;
	}

	to {
		left: 100px;
		top:  100px;

	}
}

@-webkit-keyframes diagonal_slide {
	from {
		left: 0;
		top: 0;
	}

	to {
		left: 100px;
		top:  100px;

	}
}
		