<html lang="en">
<style>
h1 {
	font: Arial, Helvetica, sans-serif;
	 font-size: 60px; 
	 color: rgb(128,0,128); 
	 text-transform: uppercase;
	 text-align: left; 
	 margin: 0 0 35px 0; 
	 text-shadow: 0px 2px 0px #f2f2f2;
         }
h2{
	 
	 font-family: Comic Sans MS, Comic Sans, sans-serif;
	 font-size: 24px; 
	 color: rgb(0,128,255); 
	 text-align: left; 
	 margin: 0 0px 0px 0; 
	 text-shadow: 0px 2px 0px #f2f2f2;
}
h3{
	 
	 font-family: Rosewood Std Regular, serif;
	 font-size: 40px; 
	 color: rgb(0,128,255); 
	 text-transform: uppercase;
	 text-align: left; 
	 margin: 0 0 35px 0; 
	 text-shadow: 0px 2px 0px #f2f2f2;
}



a:link {
color: transparent;
background-color: transparent;
text-decoration: none:
}

a:visited {
  color: transparent;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: pink;
  text-decoration: none;
}

a:active {
  color: transparent;
  background-color: transparent;
  text-decoration: none;
}


p.prussianBlue_18 {
  color: rgb(3,57,108);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 18px;
}

p.prussianBlue_24 {
  color: rgb(3,57,108);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 24px;
}


p.sapphireBlue_18 {
  color: rgb(1,31,75);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 18px;
}

p.sapphireBlue_24 {
  color: rgb(1,31,75);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 24px;
}


p.purple_24 {
  color: rgb(102,51,103);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 24px;
}

p.purple_18 {
  color: rgb(102,51,103);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 18px;
}

p.appleGreen_18 {
  color: rgb(91,194,54);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 18px;
}

p.appleGreen_24 {
  color: rgb(91,194,54);
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  font-size: 24px;
}

body {
	background-color: #E0E0E0;
}
</style>		